/* Repeated properties stored here for easy changes if needed */
:root {
    --white: #eef0eb;
    --dark-blue: #284b62;
    --light-blue: #3c6f72;
    --brown: #998650;
    --purple: #a57e8d;
    --margin-left-content: 40px;
}

/* Sets a relative font size */
html {
    font-size: 62.5%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    color: var(--dark-blue);
    background-color: var(--white);
}

/* Formats the header in combination with h1, nav, ul, li, and a properties which follow */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark-blue);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white);
    border-bottom:5px solid var(--brown);
    margin-bottom: 35px;
    width: 100%;
}

header h1 {
    font-size: 2.75vw;
    background-image: linear-gradient(hsl(204, 42%, 27%)0%, hsl(183, 31%, 34%)100%);
    border: 3px solid var(--brown);
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 15px;
    float: right;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

nav ul li a {
    color: var(--white);
    text-decoration:underline var(--brown) 3px;
    font-size: 2vw;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

section {
    display: flex;
    flex: 1 0 100%;
    margin: 25px 0px;
}   

/* h3 and h4 used exclusively for Project Titles in image links */
h3 {
    font-size: 1.5vw;
    text-decoration: underline;
    padding-left: 5px;
    padding-right: 5px;
}

h4 {
    font-size: 1vw;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

/* Formats footer text size */
h5 {
    font-size: 1.1rem;
}

p {
    margin: 35px;
}

/* Sets basic formatting for all images - specified changes to specified images to follow */
img {
    border: 4px solid var(--light-blue);
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: var(--brown);
    border-top: 3px solid var(--dark-blue);
}

/* Basic formatting used for each of 3 main sections on webpage */
.about-me, .my-work, .contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: var(--margin-left-content);
    width: 100%;
}

/* Used "nowrap" to keep image and text in About Me section inline within flexbox */
.about-me {
    flex-wrap: nowrap;
}

/* Arranges text in Contact Me section */
.contact-me ul {
    display: flex;
    flex-wrap: wrap;
}

.contact-me li {
    justify-content: space-between;
    padding: 10px 35px 0 35px;
}

/* Formats phone number in Contact Me section */
.contact-me a {
    text-decoration: underline;
    color: var(--dark-blue);
    font-weight: bold;
}

/* Pseudoclass which turns navbar links purple when hovering over them */
nav a:hover {
    color: var(--purple);
}
/* Pseudoclass which turns links in Contact Me section purple when hovered over (NOTE: phone number will NOT turn purple as it is not a link) ( */
.contact-me a:hover {
    color: var(--purple);
}

/* Sets each parent section of image links as relative to allow for titles to be positioned absolutely  */
.project {
    position: relative;
}

/* Label/formatting for Large image link positioned absolutely */
.project-label-large {
    position: absolute;
    background-color: var(--purple);
    border: 4px solid var(--light-blue);
    margin-top: 38%;
    z-index: 1;
}

/* Label/formatting for Smaller image links positioned absolutely */
.project-label {
    position: absolute;
    background-color: var(--purple);
    border: 4px solid var(--light-blue);
    margin-top: 50%;
    z-index: 1;
}

/* Turns all image links opaque */
.project img {
    opacity: 0.5;
}

/* Pseudoclass which makes image links NOT opaque when hovered over  */
.project img:hover {
    opacity: 1;
}

/* Specified settings for personal picture */
#profile-picture {
    border-radius: 50%;
    margin: 25px;
}

#subtitle {
    display: none;
}

/* Settings for the headings of each main section (sections each have their own ID to allow jump links in navbar to work). */
#about-me, #my-work, #contact-me {
    width: 25%;
    font-size: 2.5vw;
    text-align: right;
    padding-right: 15px;
    border-right: 2px solid var(--dark-blue);

}

/* Formatting for phone number in contact list (separated as it is not a link) */
#phone {
    text-decoration: underline;
    color: var(--dark-blue);
    font-weight: bold; 
}

/* Moves section headers to the left for tablets or larger */
@media screen and (min-width: 750px) {
    #about-me, #my-work, #contact-me {
        float: left;
    }
}
